.menu{
    align-items: center;
    display: block;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
}
.menu ul{
    display: none;
    gap: 20px;
}
.menu-toggle{
    display: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.no-scroll {
    overflow: hidden;
}
