


.overlay{
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0, 0.8), transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    opacity: 0;
    transition: 0.3s;
}
.overlay h2{
    margin: 0;
}
.overlay p{
    font-size: 14px;
}
.slide:hover img {
    transform: scale(1.05);
}
.slide:hover .overlay {
    opacity: 1;
}
