* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Playfair Display', serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.home::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("../Imagens/carro3.jpg") center/cover no-repeat;
    z-index: -1;
}
.home-servicos{
    background: linear-gradient(180deg, #0d0d0d, #1a1a1a);
}
.contato {
    background-color: #000;
    color: #fff;
}
.sobre{
    background: linear-gradient(180deg, #0d0d0d, #1a1a1a);
}
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}
.Logo {
    max-width: 120px;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.nav-list ul {
    display: flex;
    list-style: none;
    gap: clamp(15px, 5vw, 60px);
}
.nav-list a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: 0.3s;
}
.nav-list a:hover {
    color: #ff5c00;
    transform: scale(1.3);
    text-decoration: underline;
}
.usuario{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-left: 50px;
    transition: 0.3s;
}
.usuario:hover {
    color: #ff5c00;
    transform: scale(1.3);
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo {
    margin: 5% 10%;
    text-shadow: 0 4px 15px rgba(0,0,0,0.9);
}
h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    margin-bottom: 10px;
}
p {
    color: #ccc;
}
.centralizar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
}
.vantagens {
    max-width: 300px;
    text-align: center;
    transition: 0.3s;
}
.vantagens:hover {
    transform: translateY(-5px);
}
.vantagens h2 {
    margin: 15px 0;
}
.icone{
    font-size: 40px;
    color: #ff5c00;
    transition: 0.3s;
}
.icone:hover {
    transform: scale(1.2);
}
form {
    margin-top: 20px;
}
input,
textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}
.Botão {
    margin-top: 10px;
    padding: 10px 20px;
    background: #253252;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.Botão:hover {
    background: #884333;
}
.pe {
    margin-top: auto;
}
.redes {
    display: flex;
    justify-content: center;
    gap: clamp(15px, 5vw, 60px);
    padding: 20px;
    text-decoration: none;
}
.icone{
    text-decoration: none;
}
.redes a {
    width: 45px;
    height: 45px;
    background: #222;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
}
.redes a:hover {
    transform: scale(1.5);
}
.whatsapp:hover { background: #25D366; }
.instagram:hover {
    background: linear-gradient(45deg,#F58529,#FEDA77,#DD2A7B,#8134AF,#515BD4);
}
.youtube:hover { background: #FF0000; }
.twitter:hover { background: #1DA1F2; }
.carrossel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}
.carrossel{
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}
.slide{
    min-width: 500px;
    height: 350px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.overlay{
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0, 0.8), transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    opacity: 0;
    transition: 0.3s;
}
.overlay h2{
    margin: 0;
}
.overlay p{
    font-size: 14px;
}
.slide:hover img {
    transform: scale(1.05);
}
.slide:hover .overlay {
    opacity: 1;
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ff5c00;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
.modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 10;
}
.modal.active {
    opacity: 1;
    visibility: visible;
}
.modal-content {
    background: #111;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    transform: scale(0.7);
    transition: 0.3s;
}
.modal.active .modal-content {
    transform: scale(1);
}
.modal-content input{
    margin-top: 10px;
}
.fechar{
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}
.fechar:hover {
    color: #ff5c00;
}
@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        gap: 10px;
    }
    .nav-list ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .conteudo {
        text-align: center;
        margin: 10% 5%;
    }
    .slide{
        min-width: 80%;
        height: 250px;
    }
}
@media (max-width: 375px) {
    h1 {
        font-size: 2rem;
    }

    .Logo {
        max-width: 70px;
    }

    .redes a {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }
}