* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body,
html{
    height: 100%;
}
h1, h2{
    text-shadow: 0 0 10px rgba(255, 92, 0, 0.3);
}
button{
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    filter: drop-shadow(0 0 10px rgb(216, 83, 6));
}
.home::before{
    content: "";
    position: fixed;
    inset: 0;
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("../Imagens/carro3.jpg") center/cover no-repeat;
    z-index: -1;
}
.servicos::before{
    content: "";
    position: fixed;
    inset: 0;
    background:
        linear-gradient(rgba(255,255,255,0.06) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.06) 1px, transparent 1px),
        linear-gradient(180deg, #0d0d0d, #000);
    background-size: 40px 40px;
    z-index: -1;
}
.contato::before{
    content: "";
    position: fixed;
    inset: 0;
    background:
        radial-gradient(circle at center, rgba(255,92,0,0.35), transparent 60%),
        linear-gradient(180deg, #000, #111);
    z-index: -1;
}
.sobre::before{
    content: "";
    position: fixed;
    inset: 0;
    background:
        radial-gradient(circle at 30% 30%, rgba(255,255,255,0.16), transparent 50%),
        radial-gradient(circle at 70% 70%, rgba(255,255,255,0.10), transparent 50%),
        linear-gradient(180deg, #0d0d0d, #000);
        
    z-index: -1;
}
main{
    position: relative;
    z-index: 1;
    text-shadow: 0 2px 10px rgba(0,0,0,0.8);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#bg{
    position: fixed;
    inset: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    transition: opacity 0.5s ease;
    z-index: 0;
}
.cabecalho{
    position: relative;
    top: 0;
    z-index: 1000   ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    backdrop-filter: blur(12px);
    background: rgba(0,0,0,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.Logo{
    max-width: 120px;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-left: auto;
}
.nav-list ul{
    display: flex;
    list-style: none;
    gap: clamp(15px, 5vw, 60px);
}
.nav-list a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: 0.3s;
}
.nav-list a:hover{
    color: #ff5c00;
    transform: scale(1.3);
    text-decoration: underline;
}
.usuario{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-left: 50px;
    transition: 0.3s;
}
.usuario:hover{
    color: #ff5c00;
    transform: scale(1.3);
    cursor: pointer;
}
.conteudo{
    margin: 5% 10%;
    text-shadow: 0 4px 15px rgba(0,0,0,0.9);
}
h1{
    font-size: clamp(2rem, 5vw, 5rem);
    margin-bottom: 10px;
    cursor: default;
}
p{
    color: #ccc;
    cursor: default;
}
h2{
    cursor: default;
}
.centralizar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 20px;
}
.vantagens {
    max-width: 300px;
    text-align: center;
    transition: 0.3s;
}
.vantagens:hover {
    transform: translateY(-5px);
}
.vantagens h2 {
    margin: 15px 0;
}
.icone{
    font-size: 40px;
    color: #ff5c00;
    transition: 0.3s;
}
.icone:hover {
    transform: scale(1.2) rotate(5deg);
}
form {
    margin-top: 20px;
}
input,
textarea,
select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}
.Botão {
    margin-top: 10px;
    padding: 10px 20px;
    background: #ff5c00;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.Botão:hover {
    background: #cf540d;
}
.pe {
    margin-top: auto;
}
.redes {
    display: flex;
    justify-content: center;
    gap: clamp(15px, 5vw, 60px);
    padding: 20px;
    text-decoration: none;
}
.icone{
    text-decoration: none;
}
.redes a {
    width: 45px;
    height: 45px;
    background: #222;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    text-decoration: none;
}
.redes a:hover {
    transform: scale(1.5);
}
.whatsapp:hover { background: #25D366; }
.instagram:hover {
    background: linear-gradient(45deg,#F58529,#FEDA77,#DD2A7B,#8134AF,#515BD4);
}
.youtube:hover { background: #FF0000; }
.twitter:hover { background: #000000; }
.carrossel-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}
.carrossel{
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}
.slide{
    min-width: 500px;
    height: 350px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.overlay{
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0, 0.8), transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    opacity: 0;
    transition: 0.3s;
}
.overlay h2{
    margin: 0;
}
.overlay p{
    font-size: 14px;
}
.slide:hover img {
    transform: scale(1.05);
}
.slide:hover .overlay {
    opacity: 1;
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #ff5c00;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}
.btn:hover{
    filter: drop-shadow(0 0 10px rgba(255,60,0,0.6));
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
.modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 11;
    pointer-events: none;
}
.modal.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-content {
    background: #111;
    padding: 50px;
    border-radius: 12px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    transform: scale(0.7);
    transition: 0.3s;
}
.modal.active .modal-content {
    transform: scale(1);
}
.modal-content input{
    margin-top: 10px;
}
.fechar{
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}
.fechar:hover {
    color: #ff5c00;
}
.inputSenha {
    margin-bottom: 20px;
}
.btnSubmit {
    background: #ff5c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}
.btnSubmit:hover{
    transform: scale(1.2);
    background-color: #cf540d;
}
#abrirCadastro{
    text-decoration: none;
    color: #ff5c00;
    margin-bottom: -10px;
}
#abrirCadastro:hover {
    text-decoration: underline;
}
.inputEmail{
    margin-bottom: 10px;
}
.carrossel-container2{
    position: relative;
    overflow: hidden;
    margin: 50px auto;
    width: 540px;
}
.carrossel2{
    display: flex;
    transition: transform 0.6s ease;
    align-items: center;
}
.card{
    background-color: none;
    min-width: 500px;
    margin: 0 10px;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    justify-content: center;
    text-align: center;
}
.card h2{
    color: #ff3c00;
}
.card p{
    color: #ccc;
}
.swal-modal{
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 25px rgba(255, 92, 0, 0.8);
}
.swal-title{
    color: #ff5c00;
}
.swal-text{
    color: black;
}
.swal-button {
    background-color: #ff5c00 !important;
}
.swal-button:hover {
    background-color: #cf540d !important;
    transition: 0.3s;
}
.menu{
    align-items: center;
    display: block;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
}
.menu ul{
    display: none;
    gap: 20px;
}
.menu-toggle{
    display: none;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.no-scroll {
    overflow: hidden;
}
@media (min-width: 769px) {
    .menu {
        display: none;
    }
}
@media (max-width: 768px) {
    .menu{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: black;
        display: flex;
        justify-content: center;    
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 2000;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .menu ul li{
        list-style: none;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .menu a{
        font-size: 2rem;
        color: white;
        text-decoration: none;
        transition: 0.3s;
    }
    .menu a:hover{
        color: #ff5c00;
        transform: scale(1.1);
    }
    .menu-toggle{
        display: block;
        font-size: 24px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }
    .menu-toggle:hover{
        color: #ff5c00;
    }
    .menu.active{
        opacity: 1;
        pointer-events: auto;
    }
    .cabecalho {
        flex-direction: column;
        gap: 10px;
    }
    .nav-list{
        display: none;
    }
    .nav-list ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    .conteudo {
        text-align: center;
        margin: 10% 5%;
    }
    .slide{
        min-width: 80%;
        height: 250px;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 2rem;
    }
    .Logo {
        max-width: 70px;
    }
    .redes a {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }
}