/*Swal é uma Abreviação de Sweetalert*/

.swal-modal{
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 25px rgba(255, 92, 0, 0.8);
}
.swal-title{
    color: #ff5c00;
}
.swal-text{
    color: black;
}
.swal-button {
    background-color: #ff5c00 !important;
}
.swal-button:hover {
    background-color: #cf540d !important;
    transition: 0.3s;
}